<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/919bb508e0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/carrito.css" type="text/css">
  <link rel="stylesheet" href="/styles/cabecera-secundaria.css" type="text/css">
  <link rel="stylesheet" href="/styles/footer.css" type="text/css">
</head>
<body>
  <header class="encabezado">   
    <div class="ico-menu">
      <i class="fa-solid fa-bars "></i>
    </div> 
        <img class="logo-1" src="/images/Logo.png" alt="dulces delicias">
    <nav class="barra-navegacion">
      <ul class="navegacion-lista">
        <li class="navegacion-li"><img src="/images/iconos/restaurant-sharp (1).png" class="img-ico"><a href="/dulces_detalles/productos" class="navegacion-a">Comida</a></li>
        <li class="navegacion-li"><img src="/images/iconos/gift.png" class="img-ico"><a href="#" class="navegacion-a">Regalos</a></li>
        <li class="navegacion-li"><img src="/images/iconos/balloon.png" class="img-ico"><a href="#" class="navegacion-a">Decoraciones</a></li>
      </ul>
    </nav>   
  </header>

  <section class="section-carrito">
    <h1>Carrito de compras:</h1>
    <div class="div-cartaProducto">
      <div class="div-img-cartaProducto">
        <img src="/images/comida/15-años-combo.png"  alt="combo quinceañero" class="img-cartaProducto">
      </div>
      <div class="div-cartaProducto-detalles">
        <div class="div-cartaProducto-ico">
          <i class="fa-solid fa-x"></i>
        </div>
        <h2 class="h2-cartaProducto">Combo quinceañero</h2>
        <p class="p-cartaProducto-precio">20$</p>
      </div>
    </div>
    <div class="div-cartaProducto">
      <div class="div-img-cartaProducto">
        <img src="/images/comida/pasapalos.jpg"  alt="pasapalos" class="img-cartaProducto">
      </div>
      <div class="div-cartaProducto-detalles">
        <div class="div-cartaProducto-ico">
          <i class="fa-solid fa-x"></i>
        </div>
        <h2 class="h2-cartaProducto">Pasapalos</h2>
        <p class="p-cartaProducto-precio">5$</p>
      </div>
    </div>
    <div class="div-cartaProducto">
      <div class="div-img-cartaProducto">
        <img src="/images/comida/postres.jpg" alt="mini postres"class="img-cartaProducto">
      </div>
      <div class="div-cartaProducto-detalles">
        <div class="div-cartaProducto-ico">
          <i class="fa-solid fa-x"></i>
        </div>
        <h2 class="h2-cartaProducto">Mini postre</h2>
        <p class="p-cartaProducto-precio">10$</p>
      </div>
    </div>
  </section>

  <footer>
    <div class="footer-contenido">
      <address class="footer-contacto">
        <p>¡Contáctanos!</p>
        <p>marcanosalaspv@uvm.edu.ve</p>
        <p>hernandezfernandezcd@uvm.edu.ve</p>
      </address>
      <p class="footer-copy">
        &copy Paola Marcano, Crisangelly Hernández 2024
      </p>
    </div>
  </footer>
</body>
</html>