<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrarse</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link  rel="stylesheet" href="/styles/form-oferta.css" type="text/css">
  <link rel="stylesheet" href="/styles/cabecera.css" type="text/css">
</head>
<body>
  <header class="encabezado">    
    <img class="logo-1" src="/images/Logo.png" alt="dulces delicias">
    <nav>
      <a class="boton2"  href="#">Comenzar</a>
    </nav>   
  </header>

  <section class="section-contenido">
    <div class="div-oferta">
      <h1 class="div-oferta-titulo">Obten 10% de descuento en nuestro curso de decoración</h1>
      <img src="/images/curso.png" alt="decoración de una fiesta de cumpleaños" class="oferta-imagen">
    </div>
    <div class="div-form-oferta-completado">
      <p>Has sido registrado con éxito, gracias por su participación</p>
    </div>
  </section>
</body>
</html>