<!-- Paola Valentina Marcano Salas (C.I: 30.975.611)  -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito</title>
  <link rel="icon" href="../public/images/carrusel/pastel-de-cumpleanos.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/919bb508e0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../public/styles/carrito.css" type="text/css">
  <link rel="stylesheet" href="../public/styles/cabecera-secundaria.css" type="text/css">
  <link rel="stylesheet" href="../public/styles/footer.css" type="text/css">
</head>
<body>
  <header class="cabecera">
    
    <div class="cabecera__div-responsive">
      <div class="cabecera__menu">
        <div class="ico-menu">
          <i class="fa-solid fa-bars" id="menu"></i>
        </div>
        <div class="div-logo">
          <img class="logo-1" src="../public/images/Logo.png" alt="dulces delicias">
        </div>
      </div>
      <div class="navbar-desplegable">
        <nav class="navbar">
          <ul class="navbar__ul">
            <li class="navbar__li"><i class="fa-solid fa-house"></i><a href="./landingpage.html" class="navegacion-a">Inicio</a></li>
            <li class="navbar__li"><i class="fa-solid fa-star"></i><a href="./form-oferta.html" class="navegacion-a">Formulario</a></li>
            <li class="navbar__li"><i class="fa-solid fa-cart-shopping"></i><a href="./carrito.html" class="navegacion-a">Carrito</a></li>
            <li class="navbar__li"><img src="../public/images/iconos/restaurant-sharp (1).png" class="img-ico"><a href="./productos.html" class="navegacion-a">Comida</a></li>
            <li class="navbar__li"><img src="../public/images/iconos/gift.png" class="img-ico"><a href="./productos-regalos.html" class="navegacion-a">Regalos</a></li>
            <li class="navbar__li"><img src="../public/images/iconos/balloon.png" class="img-ico"><a href="./productos-decoraciones.html" class="navegacion-a">Decoraciones</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="cabecera__div-escritorio">
      <i class="fa-solid fa-bars" id="menu"></i>
      <div class="div-logo">
        <img class="logo-1" src="../public/images/Logo.png" alt="dulces delicias">
      </div>
      <nav class="navbar">
        <ul class="navbar__ul">
          <li class="navbar__li"><i class="fa-solid fa-house"></i><a href="./landingpage.html" class="navegacion-a">Inicio</a></li>
          <li class="navbar__li"><i class="fa-solid fa-star"></i><a href="./form-oferta.html" class="navegacion-a">Formulario</a></li>
          <li class="navbar__li"><i class="fa-solid fa-cart-shopping"></i><a href="./carrito.html" class="navegacion-a">Carrito</a></li>
          <li class="navbar__li"><img src="../public/images/iconos/restaurant-sharp (1).png" class="img-ico"><a href="./productos.html" class="navegacion-a">Comida</a></li>
          <li class="navbar__li"><img src="../public/images/iconos/gift.png" class="img-ico"><a href="./productos-regalos.html" class="navegacion-a">Regalos</a></li>
          <li class="navbar__li"><img src="../public/images/iconos/balloon.png" class="img-ico"><a href="./productos-decoraciones.html" class="navegacion-a">Decoraciones</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <script src="../functions.js"></script>

  <section class="section-carrito">
    <h1>Carrito de compras:</h1>
    <div class="div-cartaProducto">
      <div class="div-img-cartaProducto">
        <img src="../public/images/comida/15-años-combo.png"  alt="combo quinceañero" class="img-cartaProducto">
      </div>
      <div class="div-cartaProducto-detalles">
        <div class="div-cartaProducto-ico">
          <i class="fa-solid fa-x"></i>
        </div>
        <h2 class="h2-cartaProducto">Combo quinceañero</h2>
        <p class="p-cartaProducto-precio">20$</p>
      </div>
    </div>
    <div class="div-cartaProducto">
      <div class="div-img-cartaProducto">
        <img src="../public/images/comida/pasapalos.jpg"  alt="pasapalos" class="img-cartaProducto">
      </div>
      <div class="div-cartaProducto-detalles">
        <div class="div-cartaProducto-ico">
          <i class="fa-solid fa-x"></i>
        </div>
        <h2 class="h2-cartaProducto">Pasapalos</h2>
        <p class="p-cartaProducto-precio">5$</p>
      </div>
    </div>
    <div class="div-cartaProducto">
      <div class="div-img-cartaProducto">
        <img src="../public/images/comida/postres.jpg" alt="mini postres"class="img-cartaProducto">
      </div>
      <div class="div-cartaProducto-detalles">
        <div class="div-cartaProducto-ico">
          <i class="fa-solid fa-x"></i>
        </div>
        <h2 class="h2-cartaProducto">Mini postre</h2>
        <p class="p-cartaProducto-precio">10$</p>
      </div>
    </div>
  </section>

  <footer>
    <div class="footer-contenido">
      <address class="footer-contacto">
        <p>¡Contáctanos!</p>
        <p>marcanosalaspv@uvm.edu.ve</p>
        <p>hernandezfernandezcd@uvm.edu.ve</p>
      </address>
      <p class="footer-copy">
        &copy Paola Marcano, Crisangelly Hernández 2024
      </p>
    </div>
  </footer>
</body>
</html>