<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrarse</title>
  <link rel="icon" href="../public/images/carrusel/pastel-de-cumpleanos.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link  rel="stylesheet" href="../public/styles/form-oferta.css" type="text/css">
  <link rel="stylesheet" href="../public/styles/cabecera.css" type="text/css">
</head>
<body>
  <header class="encabezado">    
    <img class="logo-1" src="../public/images/Logo.png" alt="dulces delicias">
    <nav>
      <a class="boton2"  href="productos.html">Comenzar</a>
    </nav>   
  </header>

  <section class="section-contenido">
    <div class="div-oferta">
      <h1 class="div-oferta-titulo">Obten 10% de descuento en nuestro curso de decoración</h1>
      <img src="../public/images/curso.png" alt="decoración de una fiesta de cumpleaños" class="oferta-imagen">
    </div>
    <div class="div-form-oferta">
      <form class="form-oferta" id="form-oferta">
        <label class="form-oferta-titulo">Aprovecha ahora</label>
        <div class="form-oferta-div-input">
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" id="nombre" required>
        </div>
        <div class="form-oferta-div-input">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" required>
        </div>
        <div class="form-oferta-div-input">
          <label for="telefono">Teléfono</label>
          <input type="text" name="telefono" id="telefono" required>
        </div>
        <div class="form-oferta-div-input">
          <label for="mensaje">¿Qué evento quiere celebrar?</label>
          <textarea name="mensaje" id="mensaje"></textarea>
        </div>
        <input type="submit">
      </form>
    </div>
  </section>
  <script src="../form.js"></script>
</body>
</html>